<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangyueEducation.uploaderCloud.mapper.FileGroupCategoryMapper">

    <resultMap id="BaseResultMap" type="com.xiangyueEducation.uploaderCloud.POJO.FileGroupCategory">
            <id property="fileGroupCategoryId" column="file_group_category_id" jdbcType="INTEGER"/>
            <result property="categoryName" column="category_name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        file_group_category_id,category_name,create_time,is_delete
    </sql>


    <select id="selectAllCategory" resultType="string">

        select category_name from file_group_category
        WHERE is_delete = 0
    </select>


    <select id="getAll" resultType="com.xiangyueEducation.uploaderCloud.POJO.FileGroupCategory">
        SELECT * from file_group_category
    </select>



</mapper>
