<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangyueEducation.uploaderCloud.mapper.TaskContentMapper">

    <resultMap id="BaseResultMap" type="com.xiangyueEducation.uploaderCloud.POJO.TaskContent">
            <id property="taskContentId" column="task_content_id" jdbcType="INTEGER"/>
            <result property="fileGroupId" column="file_group_id" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="previewImgPath" column="preview_img_path" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        task_content_id,file_group_id,description,
        preview_img_path,title
    </sql>
</mapper>
